<%- include('partials/head')%>

<div class="container">
    <h1>HOME PAGE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim explicabo harum, eum vel laborum
        consectetur. Dolor quidem illo architecto quam aliquam ad odit, corporis, vitae dignissimos alias quae
        voluptates?Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cumque ipsam maxime. Reiciendis
        perspiciatis necessitatibus culpa eius! Deserunt aliquam laborum eum, dolorum aliquid laboriosam rem voluptate,
        ut autem accusamus necessitatibus.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nihil officia qui nemo ipsum deserunt dolor quia
        blanditiis, minima asperiores eveniet laboriosam totam cumque quasi rem harum aperiam veniam quis!l</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consectetur illum, sequi quam quasi, fuga tempora
        error laudantium molestiae facilis at laborum, assumenda temporibus? Officiis, sit quisquam! Assumenda, voluptas
        debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, beatae suscipit tenetur dolorum ipsa
        dolorem quas et asperiores inventore quis quidem cum unde facere consequatur sint dolores nesciunt, pariatur
        totam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at, expedita necessitatibus ea in veniam
        tempora inventore quae possimus sint quaerat et aliquid officiis quasi aperiam numquam omnis repellendus
        corporis.</p>

</div>
</body>

</html>